*{-webkit-box-sizing:border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing:border-box;}
banner{display: block; padding: 10 px; text-align: center;color: black; background-color: pink; font-size: 32px; font-family: Helvetica; padding: black}
body {padding-top: 820px 10px;
  text-align: LEFT; margin:0 auto; font size:10px
  font-family: monaco, monospace}
p{margin: 5px;}
h1 {display: block; padding: 10 px; text-align: center;color: black; background-color: tan; font-size: 32px; font-family: Helvetica}
h2 {margin: 10 px; text-align: left;color: black; background-color: green; font-size: 32px; font-family: Helvetica; boaders
p {background-color: tan; font-size:20px}
img2 {background-color: black; max-width: 15px}
img {max-width: 15%;}
.topic{background-color: yellow; padding:4px;margin10px;border-radius:4px; color red;}


